<li>{{rentals.owner}}'s {{rentals.type}} in {{rentals.city}}
  {{#if isImageShowing }} <!--DOES THIS SPACE AFTER isImageShowing MATTER?-->
    <p><img src={{rentals.image}} alt={{rentals.type}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show Image</button>
  {{/if}}
  <button {{action 'delete' rentals}}>Delete</button>
</li>
