{{#if updateRentalForm}}
  <h4>Update {{rentals.owners}}'s {{rentals.type}}</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="owner">Owner</label>
          {{input value=owner id="owner" placeholder=rentals.owner}}
        </div>

        <div class="form-group">
          <label for="type">Type</label>
          {{input value=type id="type" placeholder=rentals.type}}
        </div>

        <div class="form-group">
          <label for="city">City</label>
          {{input value=city id="city" placeholder=rentals.city}}
        </div>

        <div class="form-group">
          <label for="bedrooms">Number of Bedrooms</label>
          {{input value=bedrooms id="bedrooms" placeholder=rentals.bedrooms}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=image id="image" placeholder=rentals.image}}
        </div>

        <button {{action 'update' rentals}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateRentalForm'}}>Update</button>
{{/if}}
